/* JMJ */
@font-face {
    font-family: 'dearestregular';
    src: url('../fonts/webFonts/dearest_regular_macroman/Dearest-webfont.eot');
    src: url('../fonts/webFonts/dearest_regular_macroman/Dearest-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webFonts/dearest_regular_macroman/Dearest-webfont.woff') format('woff'),
    url('../fonts/webFonts/dearest_regular_macroman/Dearest-webfont.ttf') format('truetype'),
    url('../fonts/webFonts/dearest_regular_macroman/Dearest-webfont.svg#dearestregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
