/* JMJ */

jmj-sidebar-menu {
    float: left;
    background: #777 url("../assets/images/precationes_background.svg") no-repeat 45% 30px;
    background-size: 60%;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #000 );
    width: 300px;
    height: 100vh;
}

#jmj-sidebar-menu,
#jmj-sidebar-menu ul,
#jmj-sidebar-menu li,
#jmj-sidebar-menu a,
#jmj-sidebar-menu span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#jmj-sidebar-menu {
    margin-top: 300px;
}

#jmj-sidebar-menu li {
    list-style: none;
}

#jmj-sidebar-menu li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 40px;

    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0, .35);

    background: #6c6e74;

    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);

    font-kerning: normal;
    -moz-font-feature-settings:"pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1, "salt" 1;
    -moz-font-feature-settings:"pnum=1, kern=1, liga=1, dlig=1, hlig=1, clig=1, swsh=1, calt=1, hist=1, salt=1";
    -ms-font-feature-settings:"pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1, "salt" 1;
    -o-font-feature-settings:"pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1, "salt" 1;
    -webkit-font-feature-settings:"pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1, "salt" 1;
    font-feature-settings:"pnum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1, "swsh" 1, "calt" 1, "hist" 1, "salt" 1;
}

#jmj-sidebar-menu > li > a:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 12px;
    height: 12px;
    margin: 10px 8px;

    background: url("../assets/images/arrows.gif") no-repeat 0 -24px;
}

#jmj-sidebar-menu li > a:after,
#jmj-sidebar-menu li:hover > a:after { background-position: 0 -36px; }
#jmj-sidebar-menu li > a:after { background-position: 0 -36px; }
#jmj-sidebar-menu li.closed > a:after { background-position: 0 -24px; }

#jmj-sidebar-menu .jmj-sidebar-sub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0 rgba(255,255,255, .2);
    padding-left: 50px;

    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;

    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255, .1), 0 1px 0 0 rgba(0,0,0, .1);
}

#jmj-sidebar-menu .jmj-sidebar-sub-menu li:last-child a { border: none; }

#jmj-sidebar-menu > li:hover > a,
#jmj-sidebar-menu > li > a {
    color: #333333;
    text-shadow: 1px 1px 1px rgba(255,255,255, .1);
    background: #999999;
}

#jmj-sidebar-menu > li:hover > a span,
#jmj-sidebar-menu > li > a span {
    color: #fdfdfd;
    text-shadow: 0 1px 0 rgba(0,0,0, .35);
    background: #3e5706;
}

#jmj-sidebar-menu .jmj-sidebar-sub-menu li:hover a {
    background: #efefef;
}

#jmj-sidebar-menu li > .jmj-sidebar-sub-menu {
    overflow: hidden;
}

#jmj-sidebar-menu li.closed > .jmj-sidebar-sub-menu {
    height: 0;
}