<!-- JMJ -->
<div class="prayer">
    <p class="first">Ave Maria,<br/>
        gratia plena, Dominus tecum.<br/>
        Benedicta tu in mulieribus,<br/>
        et benedictus fructus ventris tui, Iesus.</p>
    <p>Sancta Maria, Mater Dei,<br/>
        ora pro nobis peccatoribus,<br/>
        nunc, et in hora mortis nostrae.</p>
    <p>Amen.</p>
</div>