<!-- JMJ -->
<div class="prayer">
    <p class="first">Gloria Patri,<br/>et Filio,<br/>et Spiritui Sancto.</p>
    <p>Sicut erat in principio,<br/>et nunc, et semper,<br/>et in saecula saeculorum.</p>
    <p>Amen.</p>
</div>