<!-- JMJ -->
<ul id="jmj-sidebar-menu">

    <li class="jmj-sidebar-top-menu" ng-init="isClosed = 'closed'" ng-class="isClosed" ng-repeat="menu in menuStructure">
        <a href="" ng-click="isClosed = !isClosed ? 'closed' : ''">{{menu.label}}</a>
        <ul class="jmj-sidebar-sub-menu">
            <li ng-repeat="subMenu in menu.subMenus ">
                <a href="{{subMenu.url}}">{{subMenu.label}}</a>
            </li>
        </ul>
    </li>
</ul>