<!-- JMJ -->
<div class="prayer">
    <p class="first">
        Per signum crucis<br/>de inimicis nostris<br/>libera nos, Deus noster.
    </p>
    <p>In nomine Patris,<br/>et Filii, et Spiritus Sancti.</p>
    <p>Amen.</p>
</div>
<div class="prayer">
<p class="first">Cor Iesu,<br/>in Te confido.</p>
</div>
<div class="prayer">
<p class="first">Cor Iesu,<br/>omnia pro te.</p>
</div>
<div class="prayer">
<p class="first">Cor Iesu sacratissimum,<br/>miserere nobis.</p>
</div>
<div class="prayer">
<p class="first">Iesu, mitis et humilis corde,<br/>fac cor nostrum secundum Cor tuum.</p>
</div>
<div class="prayer">
    <p class="first">
        Dirigere et sanctificare,<br/>regere et gubernare dignare, Domine Deus,<br/>
        Rex cæli et terræ, hodie corda et corpora nostra,<br/>
        sensus, sermones et actus nostros<br/>
        in lege tua et in operibus mandatorum tuorum;<br/>
        ut hic et in æternum, te auxiliante,<br/>
        salvi et liberi esse mereamur, Salvator mundi:<br/>
        Qui vivis et regnas in sæcula sæculorum.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Deus meus, in Te credo, Te adoro,<br/>
        in Te confido, Te amo,<br/>
        veniam peto pro his qui in Te non credunt,<br/>
        Te non adorant, in Te non confidunt Te non amant.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        O Domina mea! O Mater mea!<br/>
        Tibi me totum offero, atque,<br/>
        ut me tibi probem devotum,<br/>
        consecro tibi hodie oculos meos,<br/>
        aures meas, os meum, cor meum,<br/>
        plane me totum.
    </p>
    <p>
        Quoniam itaque tuus sum, o bona Mater,<br/>
        serva me, defende me ut rem ac possessionem tuam.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Memorare, O piissima Virgo Maria,<br/>
        non esse auditum a sæculo,<br/>
        quemquam ad tua currentem præsidia,<br/>
        tua implorantem auxilia, tua petentem suffragia,<br/>
        esse derelictum.
    </p>
    <p>
        Ego tali animatus confidentia,<br/>
        ad te, Virgo Virginum, Mater, curro, ad te venio,<br/>
        coram te gemens peccator assisto.<br/>
        Noli, Mater Verbi, verba mea despicere;<br/>
        sed audi propitia et exaudi.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Sub tuum præsidium confugimus,<br/>
        Sancta Dei Genetrix.</p>
    <p>
        Nostras deprecationes ne despicias<br/>
        in necessitatibus (nostris),<br/>
        sed a periculis cunctis libera nos semper,<br/>
        Virgo gloriosa et benedicta.
    </p>
    <p>
        Amen.
    </p>
</div>
<div class="prayer">
    <p class="first">
        Virginum custos et pater,<br/>
        Sancte Ioseph,<br/>
        cuius fideli custodiæ ipsa<br/>
        Innocentia Christus Iesus<br/>
        et Virgo virginum Maria commissa fuit;<br/>
        te per hoc utrumque carissimum<br/>
        pignus Iesum et Mariam obsecro et obtestor,<br/>
        ut me, ab omni immunditia præservatum,<br/>
        mente incontaminata, puro corde et casto corpore<br/>
        Iesu et Mariæ semper facias castissime famulari.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Angele Dei,<br/>
        qui custos es mei,<br/>
        me tibi commissum pietate superna<br/>
        illumina, custodi, rege et guberna.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Sancte Michael Archangele,<br/>
        defende nos in prœlio,<br/>
        contra nequitiam et insidias<br/>
        diaboli esto præsidium.</p>
    <p>
        Imperet illi Deus, supplices deprecamur:<br/>
        tuque, Princeps militiæ cælestis,<br/>
        Satanam aliosque spiritus malignos,<br/>
        qui ad perditionem animarum pervagantur in mundo,<br/>
        divina virtute, in infernum detrude.
    </p>
    <p>Amen.</p>
</div>
<div class="prayer">
    <p class="first">
        Sanctissima Trinitas:<br/>
        Pater, Filius et Spiritus Sanctus,<br/>
        profundissime te adoro.<br/>
        Offero tibi pretiosissimum Corpus et Sanguinem,<br/>
        animam et divinitatem Iesu Christi<br/>
        qui præsens est in omnibus tabernaculis totius mundi,<br/>
        in reparationem contumeliarum omnium,<br/>
        sacrilegiorum et indifferentiæ quibus offenditur.
    </p>
    <p>
        Per infinita merita Sacratissimi Cordis Iesu<br/>
        et Immaculatæ Cordis Mariae conversionem peccatorum peto.
    </p>
    <p>Amen.</p>
</div>