<!-- JMJ -->
<div class="prayer">
    <p class="first">Pater noster, qui es in caelis,<br/>
        sanctificetur nomen tuum.<br/>
        Adveniat regnum tuum.<br/>
        Fiat voluntas tua, sicut in caelo et in terra.</p>
    <p>Panem nostrum quotidianum da nobis hodie,<br/>
        et dimitte nobis debita nostra<br/>
        sicut et nos dimittimus debitoribus nostris.<br/>
        Et ne nos inducas in tentationem,<br/>
        sed libera nos a malo.</p>
    <p>Amen.</p>
</div>