<!-- JMJ -->
<div class="prayer">
    <p class="first">Per signum crucis<br/>de inimicis nostris<br/>libera nos, Deus noster.</p>
    <p>In nomine Patris,<br/>et Filii, et Spiritus Sancti.</p>
    <p>Amen.</p>
</div>